@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  font-family: "Exo", sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

body {
  padding: 0 !important;
}

/* Sections */
.section {
  width: 100%;
  min-height: 100%;
  padding-top: 72px;
  display: flex;
  justify-content: center;
}

.section-screen {
  width: 100%;
  min-height: 80vh;
  padding-top: 72px;
  display: block;
  overflow: auto;
  text-align: center;
  justify-content: center;
}

.section-full-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 480px) {
  }
  @media screen and (min-width: 992px) and (min-width: 1312px) {
  }
  @media screen and (min-width: 1312px) {
    height: 100%;
    padding-top: 72px;
  }
}

.section-central {
  width: 900px;
  margin-bottom: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 900px), (orientation: portrait) {
    width: 100%;
  }
  @media (min-width: 900px) and (max-width: 1280px) {
    width: 900px;
  }
  @media (min-width: 1280px) {
    width: 1280px;
  }
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page-section {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(109 132 142 / 15%);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;

  .page-section-title {
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: #5757a9;
    color: white;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;

    h1 {
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      margin: 0;
    }
  }

  .page-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .page-section-form {
      width: 90%;

      .form-group {
        label,
        .col-sm-9,
        .col-sm-3 {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: left;
        }

        .red-border .custom-control-label::after {
          border: 2px solid red;
          border-radius: 0.25rem;
          cursor: pointer;
        }

        button {
          background-color: white;
          border-radius: 0 0.25rem 0.25rem 0;
          padding: 6px;
          color: black;
          border: 1px solid grey;
        }
      }

      small {
        color: red;
      }

      label {
        text-align: left;
      }

      .buttons {
        text-align: right;
        button {
          margin: 10px;
        }
      }
    }

    .page-section-table {
      width: 95%;
      margin-left: auto;
      margin-right: auto;

      .buttons-top-table {
        height: 40px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        @media (min-width: 405px) and (max-width: 540px) {
          height: 90px;
        }
        @media (max-width: 405px) {
          height: 112px;
        }
        button {
          margin-top: 5px;
        }
        .btn-100 {
          @media (max-width: 540px) {
            width: 100%;
          }
        }
        .btn-50 {
          @media (max-width: 540px) {
            width: calc(50% - 4px);
          }
        }
      }

      .section-table {
        height: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .ag-checkbox-input {
          cursor: pointer;
        }

        .btn-actions {
          width: 26px;
          height: 26px;
          svg {
            cursor: pointer;
            width: 20px;
            height: 20px;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

/* Modals */
.modal-content {
  border: 0;
}

.modal-backdrop.show {
  opacity: 0;
}

.modal-open {
  overflow: hidden !important;
  overflow-y: auto !important;
}

/* Buttons */
.btn {
  font-family: Rubik, sans-serif;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.btn-purple {
  background-color: rgb(48 40 90) !important;
  color: white;
  &:hover {
    background-color: hsl(249deg 27% 33%) !important;
    color: white;
  }
}

.btn-pink {
  background-color: #a52eff !important;
  color: white;
  &:hover {
    background-color: #bd65ff !important;
    color: white;
  }
}

.btn-blue {
  background-color: #5757a9 !important;
  color: white;
  &:hover {
    background-color: #bd65ff !important;
    color: white;
  }
}

.btn-white {
  background-color: white !important;
  color: black;
  &:hover {
    background: rgb(235, 235, 235) !important;
    color: black;
  }
}

.btn-black {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
}

.btn-red {
  background-color: rgba(211, 14, 14, 0.8) !important;
  color: white;
  &:hover {
    background: rgba(211, 14, 14, 1) !important;
    color: white;
  }
}

.btn-green {
  background-color: rgb(50 179 0 / 80%) !important;
  color: white;
  &:hover {
    background: rgb(96 205 121) !important;
    color: white;
  }
}

.btn-grey {
  background-color: #858585 !important;
  color: white;
  &:hover {
    background: #7e7e7e !important;
    color: white;
  }
}

.btn-yellow {
  background-color: rgb(251 185 27 / 80%) !important;
  color: white;
  &:hover {
    background: rgba(202, 147, 17, 0.8) !important;
    color: white;
  }
}

.btn-transparent {
  background-color: hsla(0, 0%, 100%, 0.1);
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Links */
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* Scroll */
.scroll-blue {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5757a9;
    border-radius: 25px;
  }
}

/* Selects */
select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc) !important;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
  background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
  background-repeat: no-repeat !important;

  &:hover {
    cursor: pointer;
  }
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background: none !important;
  border: 1px solid #ced4da;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border: 2px solid red;
}
